// Fonts
$lato: "Lato", sans-serif;

// Colors
$dark-blue: #102746;

// Mixins
@mixin primaryBtn {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 39px;
  background-color: #1b7dff;
  outline: none;
  border: none;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

@mixin secondaryBtn {
  line-height: 24px;
  color: #006dfe;
  text-transform: uppercase;

  img {
    margin-left: 26px;
  }

  &:hover img {
    animation: arrow 0.4s;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
    line-height: 20px;

    img {
      margin-left: 16px;
      width: 24px;
    }
  }
}

@mixin titleUnderline {
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  left: 0;
  bottom: -8px;

  @media screen and (max-width: 1024px) {
    width: 200px;
    height: 2px;
  }
  @media screen and (max-width: 768px) {
    width: 150px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
