@import "./resets";
@import "./variables";

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
}

.nav {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__links {
    display: flex;

    li {
      margin: 0 40px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }
  &__btn {
    display: none;
  }
}

.hero {
  height: 962px;
  padding: 0 12.5vw;
  background: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  &__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    max-width: 620px;
    margin-bottom: 22px;
  }
  &__paragraph {
    line-height: 24px;
    width: 546px;
    margin-bottom: 60px;
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__input__container {
    margin-right: 60px;
    width: 300px;
    border-bottom: 2px solid #bfc0c5;
    padding: 0 0 25px;
    display: flex;
    align-items: center;

    img {
      margin-right: 23px;
    }
  }
  &__input {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
  &__btn {
    @include primaryBtn;
  }
}

.benefits {
  width: 90%;
  background-color: #fff;
  margin: 0 auto -220px;
  display: flex;
  flex-direction: column;
  padding: 93px 100px 112px;
  transform: translateY(-220px);

  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: $dark-blue;
    margin-bottom: 120px;
  }
  &__articles {
    display: flex;
    justify-content: space-between;

    .article {
      max-width: 317px;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__img {
        margin-bottom: 37px;
      }
      &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 26px;
        text-transform: capitalize;

        span {
          text-transform: lowercase;
        }
      }
      &__paragraph {
        line-height: 24px;
        margin-bottom: 39px;
      }
      &__btn {
        @include secondaryBtn;
      }
    }
  }
}

.inspiration {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 130px auto 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: $dark-blue;
    position: relative;

    &::after {
      @include titleUnderline;
    }
  }
  &__btn {
    @include secondaryBtn;
  }
  &__articles {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "box-1 box-1 box-1 box-2 box-2 box-2"
      "box-3 box-3 box-4 box-4 box-5 box-5";

    .article {
      position: relative;
      height: auto;

      &__img {
        width: 100%;
        height: 100%;
      }

      &__title {
        font-size: 50px;
        line-height: 60px;
        color: #fff;
        position: absolute;
        left: 28px;
        bottom: 28px;
      }

      &:nth-of-type(1) {
        grid-area: box-1;
      }
      &:nth-of-type(2) {
        grid-area: box-2;
      }
      &:nth-of-type(3) {
        grid-area: box-3;
      }
      &:nth-of-type(4) {
        grid-area: box-4;
      }
      &:nth-of-type(5) {
        grid-area: box-5;
      }
    }
  }
}

.suggestions {
  width: 90%;
  margin: 130px auto 0;

  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-of-type {
      margin-bottom: 77px;
    }

    &__img {
      width: 40vw;
    }

    &__text {
      max-width: 520px;
      display: flex;
      flex-direction: column;
      margin: 0 45px;
    }
    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color: $dark-blue;
      margin-bottom: 85px;
    }
    &__paragraph {
      line-height: 24px;
      color: $dark-blue;
      margin-bottom: 58px;
    }
    &__btn {
      @include secondaryBtn;
    }
  }
}

.places {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 140px auto;

  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: $dark-blue;
    margin-bottom: 65px;
    position: relative;

    &::after {
      @include titleUnderline;
    }
  }
  &__articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 329px);
    grid-gap: 60px 52px;
    justify-content: space-between;

    .article {
      display: flex;
      flex-direction: column;

      &__img__container {
        position: relative;
        margin-bottom: 45px;
      }
      &__img {
        width: 100%;
        display: block;
      }
      &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 16px 25px;
        background-color: rgba(21, 24, 36, 0.6);
        color: #fff;
        visibility: hidden;
      }
      &:hover {
        .article__info {
          visibility: visible;
        }
      }
      &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
      }
      &__ratings {
        display: flex;
        align-items: center;

        li {
          font-weight: 500;
          line-height: 24px;

          &:first-of-type {
            margin-right: 14px;
          }

          img {
            margin-left: 5px;
          }
        }
      }
      &__text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      &__paragraph {
        line-height: 24px;
        color: $dark-blue;
        margin-bottom: 31px;
      }
      &__btn {
        @include primaryBtn;
        font-size: 16px;
        line-height: 19px;
        padding: 12px 19px;
      }
    }
  }
}

.showcase {
  position: relative;

  &__video {
    width: 100%;
    display: block;
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
    }
  }
}

.footer {
  padding: 120px 10vw;
  display: flex;
  justify-content: space-between;
  background-color: #0e1d28;
  color: #fff;

  &__links {
    display: flex;
  }
  &__list {
    margin-right: 138px;

    &:last-of-type {
      margin-right: 0;
    }

    li {
      margin-bottom: 3px;
    }
  }
  &__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
  }
  &__link {
    line-height: 24px;
    color: #ffffff;
    text-transform: capitalize;
  }
}

// Responsive
@import "./responsive";
